#tekst{/*#TULEB KASUTADA SIIS KUI TEGU ON ID'ga*/
	background: yellow;
	text-align: center;
	height: 50px;
	width: 200px;
	position: absolute;/*eemaldab divi ulejaanud lehe flowst*/
	left: 43%;/*lehe aartest mitu protsenti*/
	top:50%;/*lehe ulevalt mitu protsenti*/
}
.div2{/*.TULEB KASUTADA SIIS KUI TEGU ON nime ja klassiga*/
	background: yellow;
	text-align: center;
	height: 200px;
	width: 200px;
	position: absolute;/*eemaldab divi ulejaanud lehe flowst*/
	left: 43%;/*lehe aartest mitu protsenti*/
	top:10%;/*lehe ulevalt mitu protsenti*/
}
#navbar ul{
	list-style-type: none;/*kaotab ara bydefault stiili*/
	margin: 0;/*vahe*/
	padding: 0;/*sisutaide*/
	overflow: hidden;/*kui tekst divi sees laheb divist suuremaks, siis see kaotatakse ara, mitte ei lukata sealt vlja*/
	background-color: grey;
}
#navbar li{
	float: left;/*iga eelmine objekt tuleb temast vasakule*/
}

#navbar li a{
	text-decoration: none;/*eemaldame linkide allo olevad jooned*/
	color: white;
	text-align: center;
	padding: 14px 16px;/*ulevalt ja alt ning paremalt ja vasakult*/
	display: block;
}

#navbar li a:hover{
	background-color: black;
}