ul{
	list-style-type: none;/*kaotab ara bydefault stiili*/
	margin: 0;/*vahe*/
	padding: 0;/*sisutaide*/
	overflow: hidden;/*kui tekst divi sees laheb divist suuremaks, siis see kaotatakse ara, mitte ei lukata sealt vlja*/
	background-color: grey;
}
li{
	float: left;/*iga eelmine objekt tuleb temast vasakule*/
}

li a{
	text-decoration: none;/*eemaldame linkide allo olevad jooned*/
	color: white;
	text-align: center;
	padding: 14px 16px;/*ulevalt ja alt ning paremalt ja vasakult*/
	display: block;
}

li a:hover{
	background-color: black;
}